.review_btn {
	all: unset;
	font-size: 10px;
	color: darkgray;
	outline: solid darkgray 1px;
	padding: 2px;
	border-radius: 7px;
}

.review_btn:hover {
	color: white;
	background-color: darkgray;
}

.widget-desc li .widget-desc li a, .widget-desc li i {
	pointer-events: none;
}

.item-box {
    display: none; /* 초기에는 숨김 상태로 설정 */
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
